body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181717;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    margin-left: 32%;
    background-image: linear-gradient(to right, #ed6fa7 0%, #817df4 15%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: none;
    margin-top: 8vh;
}

.inputBtn {
    padding: 10px;
    width: 36%;
    height: 50%;
    border-radius: 5px;
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
    gap: 20%;
}

input {
    padding: 3%;
    width: 100%;
    border: none;
    outline: none;
    background-color: #2e2e2e;
}

input[type="text"] {
    color: #999898;
    font-size: 18px;
}

button {
    padding: 3% 5%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #181717;
    color: white;
    cursor: pointer;
    margin-right: 1%;
    font-size: 20px;
}

.tasks{
    width: 35%;
    border: 2px solid #2e2e2e;
    padding: 10px;
    padding-left: 18px;
    height: 60vh;
    border-radius: 5px;
    overflow: auto;
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

ul li{
    color: #999898;
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 17px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-position: center;
    background-size: cover;
    top: 8px;
    left: 8px;
}

ul li.checked::before{
    background-image: url('checked.png');
}

.delete-btn{
    color: #c44242;
    float: right;
}

.time{
    float: right;
}

.delete-btn, .time{
    margin-right: 5%;
}

@media (max-width: 426px) {
    .tasks, .inputBtn{
        width: 80%;
    }
    .tasks{
        margin-top: 5%;
    }
    button{
        font-size: 15px;
    }
    input[type="text"]{
        font-size: 17px;
    }
}

@media (min-width: 427px) and (max-width: 769px) {
    .tasks, .inputBtn{
        width: 70%;
    }
    .tasks{
        margin-top: 3%;
    }
    button{
        font-size: 18px;
    }
    input[type="text"]{
        font-size: 18px;
    }
    h1{
        margin-left: 14%;
    }
}

@media (min-width: 770px) and (max-width: 993px) {
    .tasks, .inputBtn{
        width: 70%;
    }
    .tasks{
        margin-top: 3%;
    }
    button{
        font-size: 18px;
    }
    input[type="text"]{
        font-size: 18px;
    }
    h1{
        margin-left: 14%;
        margin-top: 5vh;
    }
}

@media (min-width: 994px) and (max-width: 1201px) {
    .tasks, .inputBtn{
        width: 70%;
    }
    .tasks{
        margin-top: 3%;
    }
    button{
        font-size: 18px;
    }
    input[type="text"]{
        font-size: 18px;
    }
    h1{
        margin-left: 14%;
    }
}